# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=CHANGEMELATER
POSTGRES_DB=fraxinus_database

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=CHANGEMELATER

# Clerk Auth
# https://dashboard.clerk.com/ -> Your application -> Configure -> Search: "API keys"
# PUBLIC_CLERK_PUBLISHABLE_KEY
CLERK_PUBLISHABLE_KEY=pk_key
# Frontend API URL
CLERK_FRONTEND_API=https://example.clerk.accounts.dev


# B2B API Keys
SECRET_KEY=CHANGEMELATER